<div>
  <p>
    Your study
    <strong>{{studyTitle}}</strong>
    has been approved by an administrator.
  </p>
  <p>
    You can now activate data collection when ready.
  </p>
  {{#reviewedAt}}
    <p>
      Reviewed on
      <strong>{{reviewedAt}}</strong>.
    </p>
  {{/reviewedAt}}
</div>