<div>
  <p>The data collection for the study
    <strong>{{studyTitle}}</strong>
    you are participating in has started.
    {{#if endDate}}The deadline for completion is by
      <strong>{{endDate}}</strong>.{{/if}}</p>
</div>