<div>
  <p>
    Data collection for the study
    <strong>{{studyTitle}}</strong>
    has been
    {{status}}
    by an administrator.
  </p>
  {{#changedAt}}
    <p>
      Changed on
      <strong>{{changedAt}}</strong>.
    </p>
  {{/changedAt}}
</div>