<div>
  <p>
    The data collection for the study
    <strong>{{studyTitle}}</strong>
    you are participating in has started.
  </p>
  {{#endDate}}
    <p>
      The deadline for completion is by
      <strong>{{endDate}}</strong>.
    </p>
  {{/endDate}}
</div>