<div>
  <p>
    The study
    <strong>{{studyTitle}}</strong>
    has been submitted and is waiting for admin review.
  </p>
  {{#submittedAt}}
    <p>
      Submitted on
      <strong>{{submittedAt}}</strong>.
    </p>
  {{/submittedAt}}
</div>